<div class="text-center">
    <h1 class="text-info pt-4">Поздравляем! Вы стали ещё на шаг ближе к восхотительной пище.</h1>
    <p class="pb-3">Мы получили Ваш заказ и оплата будет обработана в ближайшее время!</p>
    <img src="/images/order.PNG" width="80%" />
</div>